################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/SistemaEstacionamento.Main/appsettings.Development.json
/SistemaEstacionamento.Main/appsettings.json
