@model SistemaEstacionamento.Main.Models.Estacionamento

@{
    ViewData["Title"] = "Edit";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Estacionamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PrecoInicial" class="control-label"></label>
                <input asp-for="PrecoInicial" class="form-control" />
                <span asp-validation-for="PrecoInicial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoHora" class="control-label"></label>
                <input asp-for="PrecoHora" class="form-control" />
                <span asp-validation-for="PrecoHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantidadeHoras" class="control-label"></label>
                <input asp-for="QuantidadeHoras" class="form-control" />
                <span asp-validation-for="QuantidadeHoras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorTotal" class="control-label"></label>
                <input asp-for="ValorTotal" class="form-control" readonly disabled="disabled" />
            </div>
            <div class="form-group">
                <label asp-for="PlacaVeiculo" class="control-label"></label>
                <input asp-for="PlacaVeiculo" class="form-control" />
                <span asp-validation-for="PlacaVeiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModeloVeiculo" class="control-label"></label>
                <input asp-for="ModeloVeiculo" class="form-control" />
                <span asp-validation-for="ModeloVeiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pago" class="control-label"></label>
                <input asp-for="Pago" class="form-control" />                
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
