@{
    ViewData["Title"] = "Pagina Inicial";
}

@if (TempData["Sucesso"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Sucesso"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>       
}

@if (TempData["EmailEnviado"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["EmailEnviado"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo Ao Sistema de Estacionamento</h1>
    <p>Saiba mais sobre <a href="https://learn.microsoft.com/aspnet/core">como usar o sistema de estacionamento</a>.</p>
</div>
