USE [master]
GO
/****** Object:  Database [SistemaEstacionamento]    Script Date: 09/07/2026 11:55:34 ******/
CREATE DATABASE [SistemaEstacionamento]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaEstacionamento', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SistemaEstacionamento.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaEstacionamento_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SistemaEstacionamento_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaEstacionamento].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaEstacionamento]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 09/07/2026 11:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estacionamento]    Script Date: 09/07/2026 11:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estacionamento](
	[Id_Estacionamento] [int] IDENTITY(1,1) NOT NULL,
	[PrecoInicial] [decimal](18, 2) NOT NULL,
	[PrecoHoraAdicional] [decimal](18, 2) NULL,
	[QuantidadeHoras] [decimal](18, 2) NULL,
	[ValorTotal] [decimal](18, 2) NOT NULL,
	[PlacaVeiculo] [nvarchar](7) NOT NULL,
	[ModeloVeiculo] [nvarchar](50) NOT NULL,
	[Pago] [bit] NOT NULL,
	[DataEntrada] [datetime2](7) NOT NULL,
	[DataSaida] [datetime2](7) NULL,
 CONSTRAINT [PK_Estacionamento] PRIMARY KEY CLUSTERED 
(
	[Id_Estacionamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 09/07/2026 11:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[Login] [nvarchar](20) NOT NULL,
	[Senha] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[IndAtivo] [bit] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Estacionamento] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Pago]
GO
ALTER TABLE [dbo].[Estacionamento] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [DataEntrada]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IndAtivo]
GO
USE [master]
GO
