@model SistemaEstacionamento.Main.Models.LoginModel
@{
    ViewData["Title"] = "Pagina de Login";

    if (TempData["Erro"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["Erro"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}


<h4>Logar</h4>
<hr />

<div class="row">
    <div class="col-12 ">
        <form asp-controller="Autenticacao" asp-action="Logar" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- Primeira linha responsiva -->
            <div class="row mb-3 justify-content-center">
                <div class="form-group col-md-4 col-sm-6 mb-3 mb-md-0">
                    <label asp-for="Login" class="form-label"></label>
                    <input asp-for="Login" class="form-control"/>
                     <span asp-validation-for="Login" class="text-danger"></span>                  
                </div>
            </div>

            <!-- Segunda linha responsiva -->
            <div class="row mb-3 justify-content-center">
                <div class="form-group col-md-4 col-sm-6 mb-3 mb-md-0">
                    <label asp-for="Senha" class="form-label"></label>
                    <input asp-for="Senha" class="form-control" />
                    <span asp-validation-for="Senha" class="text-danger"></span>
                </div>
            </div>

            <!-- Botões -->
            <div class="row mb-3 justify-content-center">
                <div class="form-group col-md-4 col-sm-6 mb-2 mb-md-0">
                    <input type="submit" value="Logar" class="btn btn-primary btn-block" />
                </div>
                @* <div class="form-group col-md-4 col-sm-6">
                    <button asp-action="Index" class="btn btn-secondary w-100">Voltar</button>
                </div> *@
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}





